<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582115471020-55no34roucc3g723bpt58dascc1gh27j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582115471020-55no34roucc3g723bpt58dascc1gh27j</string>
	<key>API_KEY</key>
	<string>AIzaSyDZIpSTdP5Nl3p04E3L1vcxOGqctWeTj6E</string>
	<key>GCM_SENDER_ID</key>
	<string>582115471020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yts.mobile.ytsMobile</string>
	<key>PROJECT_ID</key>
	<string>yts-mobile-5c23e</string>
	<key>STORAGE_BUCKET</key>
	<string>yts-mobile-5c23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582115471020:ios:825bfa2ce67d99e39d7909</string>
</dict>
</plist>